<h1>Pharmacies#index</h1>
<p>Find me in app/views/pharmacies/index.html.erb</p>
<table class="table table-striped">
  <thead>
  <th>id</th>
  <th>name</th>
  <th>email</th>
  <th>role</th>
  <th></th>
  </thead>
  <tr>
    <tbody>
    <% @hospitals.each do |hospital|%>
      <tr>
        <td><%=hospital.id %></td>
        <td><%=hospital.name %></td>
        <td><%=hospital.email %></td>
        <td><%=hospital.role %></td>
        <td><%= link_to '詳細', pharmacy_path(hospital)  %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<br>
<div class="offset-md-4 col-md-4"><%= paginate @hospitals %></div>