<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <%= f.text_field :name, placeholder: '名前' %>
  <%= f.text_field :email, placeholder: 'Email' %>

  <%= f.file_field :image, class: 'preview' %>
  <br>
  <%= f.password_field :password, placeholder: 'パスワード' %>
  <%= f.text_field :price, placeholder: '提示価格'  %>
  <br>
  <%= f.select :place, [['東京', '東京'], ['神奈川', '神奈川'], ['埼玉', '埼玉'], ['茨城', '茨城'], ['千葉', '千葉']]  %>
  <%= f.text_area :bio, placeholder: '紹介文を書いてください'  %>
  <br>
  <%= f.submit '更新', data: { disable_with: "更新中..." } %>
<% end %>
