<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<table class="table table-striped">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>role</th>
    <th></th>
    <th></th>
  </thead>
  <tr>
  <tbody>
<% @users.each do |user|%>
  <tr>
    <td><%=user.id %></td>
    <td><%=user.name %></td>
    <td><%=user.email %></td>
    <td><%=user.role %></td>
    <td><%= link_to 'Edit', edit_user_path(user)  %></td>
    <td><%= link_to 'Delete', user_path(user), method: :delete,
                    data: { confirm: "#{user.name}を削除してもよろしいですか？"}  %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="offset-md-4 col-md-4"><%= paginate @users %></div>