<h1>Users#new</h1>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <%= f.radio_button :role, 'Admin'  %>
  <%= f.label :role, '管理者', value: 'Admin'  %>
  <%= f.radio_button :role, 'Hospital'  %>
  <%= f.label :role, '病院', value: 'Hospital'  %>
  <%= f.radio_button :role, 'Pharmacy'  %>
  <%= f.label :role, '薬局', value: 'Pharmacy'  %>
  <br>
  <%= f.text_field :name, placeholder: 'name' %>
  <%= f.text_field :email, placeholder: 'email' %>

  <%= f.file_field :image, class: 'preview' %>
  <br>
  <%= f.password_field :password, placeholder: 'password' %>
  <%= f.text_area :bio, placeholder: 'Input your bio'  %>
  <%= f.submit '登録', data: { disable_with: "登録中..." } %>
<% end %>
