<h1>Hospitals#show</h1>
<p>Find me in app/views/hospitals/show.html.erb</p>

<div class="row">
  <div class="col-md-4">
    <% if @hospital.image_url %>
      <%= image_tag @hospital.image_url, class: 'photo1'%>
    <% end %>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>名称</th>
        <td><%= @hospital.name %></td>
      </tr>
      <tr>
        <th>提示金額</th>
        <td ><%= (number_with_delimiter(@hospital.price)).to_s + '円' %></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td><%= @hospital.place %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= @hospital.bio %></td>
      </tr>
    </table>
    <%= button_to 'お気に入り', pharmacy_to_hospitals_path, method: get, params: {id: @hospital.id}%>
  </div>
</div>
<br>
<%= link_to '>戻る', pharmacies_path  %>