<!DOCTYPE html>
<html>
  <head>
    <title>Relashionship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="container">
  <div class="header">
    <h1 class="text-left">H & P</h1>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <% if session[:role] == 'Admin' %>
  <%= link_to 'Create user',  new_user_path, class: 'btn btn-danger' %>
  <%= link_to 'User List', users_path, class: 'btn btn-danger' %>
  <% end %>
  <% if session[:user_id].present? %>
    <%= link_to 'logout', logout_path, method: :delete, class: 'btn btn-primary'%>
  <% else %>
    <%= link_to 'login', login_path, class: 'btn btn-success'%>
  <% end %>
    <%= yield %>
</div>
  </body>
</html>
